.files-preview {
  margin-top: 100px;
  width: 100%;
  
}

.files-heading {
  margin: 10px 0px;
}

.file-list-ul {
  list-style: none;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
  padding: 10px 40px;
}



.file-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%; /* Ensure the width of the file-list is 100% */
}

.file-list img {
  width: 200px;
  height: auto; /* Maintain aspect ratio */
}

.remove-button {
  border: none;
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%); /* Adjust the translation for centering */
}

.upload-animation{
  width: 150px;
}

.accept-region{
  transform: translateY(-80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 1px; */
  height: 100%;
  width: 100%;
}

.submit-button{

  color: white;
  background-color: #257878;
  border: none;
  border-radius: 50px;
  font-size: 1.2rem;
  /* padding: 15px; */
  width: 100px;
  height: 50px;
  margin-bottom: 50px;
}


.document__upload h1{
  /* font-size: 3rem; */
  font-weight: bold;
  letter-spacing: 5px;
  color: #257878;
}

.document__upload p{
  /* float: left; */
  
  /* margin-left: 30px; */
  font-size: 1.3rem;
}
.document__upload ul{
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  
}

.document__upload ul li{
  width: 80%;
  font-size: 1.4rem;
  padding: 20px;
  border-bottom: 2px solid black;
}

